/*
backrgound #f1f1f1
off-white: #eaebeb
dark grey: #313234
dark blue: #07385c
*/



html {
    font-family: 'Roboto', serif;
}
* {
     -webkit-transition: all 0.2s ease;
     -moz-transition:    all 0.2s ease;
     -ms-transition:     all 0.2s ease;
     -o-transition:      all 0.2s ease;
     box-sizing: border-box;
     border-radius: 0px;
 }
body {
    background-color: #F1F1F1;
    margin: 0;
    font-family: 'Roboto', serif;
    overflow: hidden;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.no-height {
    height: 0px !important;
    overflow: hidden;
}
/*navigation*/
.nav-top-container{
    width: 200%;
    height: 50px;
    background: #222;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(51,51,51,0.4);
    -moz-box-shadow: 1px 1px 1px 1px rgba(51,51,51,0.4);
    box-shadow: 1px 1px 1px 1px rgba(51,51,51,0.4);
}
.nav-top-entry-container {
    width: 1200px;
    margin: auto;
}
.nav-top-entry {
    float: left;
    width: 120px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    color: #b1b1b1 !important;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
.nav-top-entry:hover {
    cursor: pointer;
    color: #1e5b85 !important;
}
.nav-top-icon {
    float: left;
    font-size: 30px;
    margin-top: 8px;
}
.nav-top-search {
    float: left;
    height: 100%;
    width: 200px;
    background: #282828;
    text-align: right;
}
.nav-top-input {
    float: left;
    height: 100%;
    width: 70%;
    border: none;
    background: #282828;
    padding: 2px;
}
/* main content */
.bottom-container {
    width: 100%;
    height: 100%;
}
/* result bar */
.result-bar-container {
    display: inline-block;
    height: 100%;
    width: 25%;
    background: #313234;
    float:left;
}
.result-bottom-box {
    display: block;
    width: 480px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    color: #b1b1b1 !important;
    text-align: center;
    background: #313234;
    float: left;
}
.result-bottom-box:hover {
    cursor: pointer;
    background: #b1b1b1;
    color: #313234 !important;
}
.rb-start-box{
    width: 50px;
    height: 38px;
    text-align: center;
    float: right;
    margin-right: 10px;
}
.rb-config-box {
    width: 100%;
    height: 65px;
    background: #313234;
    color: #eaebeb;
    line-height: 20px;
    font-size: 28px;
    font-weight: 500;
    padding: 15px 0 0 30px;
    float: left;
}
.rb-issue-box {
    height: 16px;
    color: #eaebeb;
    line-height: 16px;
    font-size: 12px;
}

.rb-result-box {
    height: 400px;
    width: 100%;
    background: #eaebeb;
    padding: 0 30px 0 30px;
    float: left;
}
.rb-result-entry-box{
    height: 60px;
    line-height: 60px;
    width: 98%;
    border-bottom: 1px #313234 solid;
}
.rb-left-box {
    display: inline-block;
    width: 50%;

}
.rb-right-box {
    display: inline-block;
    width: 48%;
    text-align: right;
}
.result-config {
    height: 400px;
    width: 100%;
}
.result-config-button {
    width: 100%;
    background: #f1f1f1;
    bordeR: none;
}
.result-config-button:hover {
    cursor: pointer;
    background: #07385c;
    color: #f1f1f1;
}
/* main area*/
.content-container {
    display: inline-block;
    width: 75%;
    height: 95%;
    background: #b1b1b1;

}

/* result area*/
.result-menu {
    height: 40px;
    width: 100%;
    background: #515151;
    text-align: center;
    margin: auto;
}
.result-menu-entry {
    display: inline-block;
    width: 100px;
    color: #b1b1b1;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    margin-right: 50px;
    border-bottom: 4px solid #515151;
}
.result-menu-entry:hover {
    color: #f1f1f1;
    cursor: pointer;
}


.selected {
    color: #f1f1f1;
    border-bottom: 4px solid #2ec866;
}

.content-box {
    padding: 5px 5px 5px 10px;
    overflow: auto;
    /*border: 1px solid #e1e1e1;*/
    /*border-left: none;*/
    height: 100%;
}
.result-main-box {
    width: 100%;
    height: 95%;
    background: #b1b1b1;
    padding: 5px 5px 5px 5px;
    overflow: auto;
}
/*#a2e4f5*/
/*#009dd3*/
/*#f29c98*/
.sum-left{
    width: 100%;
    height: 500px;
    float: left;
}
.sum-right{
    width: 100%;
    height: 100%;
    float: left;
    padding-left: 5px;
}
.sum-config-box {
    background: #f1f1f1;
    display: inline-block;
    height: 120px;
    width: 100%;
    overflow: auto;
    margin: 0 10px 2px 0px;
    color: #313234;
}
.sum-inc-box {
    background: #f1f1f1;
    display: inline-block;
    height: 120px;
    width: 100%;
    overflow: auto;
    margin: 0 10px 2px 0px;
    color: #313234;
}
.sum-exc-box {
    background: #f1f1f1;
    display: inline-block;
    height: 130px;
    width: 100%;
    overflow: auto;
    margin: 0 10px 2px 0px;
    color: #313234;
}
.sum-seed-box {
    background: #f1f1f1;
    display: inline-block;
    min-height: 22%;
    height: 125px;
    width: 100%;
    overflow: auto;
    margin: 0 10px auto 0px;
    color: #313234;
}
.sum-icon-box{
    float:left;
    width: 20%;
    height: 100%;
    text-align: center;
    background: #eaebeb;
    color: #313234;
    padding-top: 12px;
}
.sum-icon {
    font-size: 60px;
}
.sum-seed {
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #f1f1f1;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.sum-exclude {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #dd8877;
    color: #f1f1f1;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.summary-exclude-box {
    display: inline-block;
    height: 22%;
    width: 30%;
    overflow: auto;
    margin: 0 0px 10px 0px;
    color: #313234;
    padding: 0px 5px 5px 5px;
}
.list-divider{
    width: 90%;
    height: 1px;
    float: left;
    background: #eaebeb;
    margin: 0 0 0 20px;
}
.kv-box {
    height: 30px;
    line-height: 30px;
    width: 70%;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.list-box {
    min-height: 30px;
    line-height: 30px;
    width: 95%;
    background: #eaebeb;
    color: #313234;
    margin: 0 0 5px 20px;
    padding: 0 5px 0 5px;
    border: 1px  solid #b1b1b1;
}
.key-box {
    display: inline-block;
    width: 50%;
    float: left;

}
.value-box {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.list-key {
    width: 100%;
    float: left;
}

/*pages per minute*/
.sum-ppm-box {
    float: left;
    height: 20%;
    width: 25%;
    background: #f1f1f1;
    padding: 2%;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
}
.sum-ppm-num{
    font-size: 100px;
    color: #515151;
}
/*running pages*/
.sum-running-box {
    float: left;
    height: 20%;
    width: 73%;
    background: #f1f1f1;
    margin-left: 10px;
    padding: 20px;
    line-height: 40px;
}

/*pie directory*/
.sum-dir-box {
    width:  55%;
    height: 50%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: -10%;
}
.sum-dir-right {
    width: 38%;
    height: 50%;
    float: left;
    margin-top: 10px;
    background: #f1f1f1;
    margin-left: -45%;
    text-align: right;
}
.sum-dir-entry {
    margin-right: 20px;
    height: 15%;
    overflow: hidden;
}
.sum-seg-box {
    width:  60%;
    height: 50%;
    float: left;
    background: #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    padding: 5px;
    overflow: auto;
    margin-left: -6.3%;
}
.sum-image-box {
    width:  98.5%;
    height: 24%;
    float: left;
    background: #f1f1f1;
    padding: 2px;
    margin-top: 10px;
}
.sum-image-entry {
    float: left;
    height: 100%;
    width: 19%;
    margin-right: 2px;
}
.sum-image {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
/* creating config */
.create-config {
    background: #b1b1b1;
    width: 100%;
    height: 100%;
}
.create-details {
    float: left;
    padding: 10px;
    width: 30%;
    height: 150px;
    background: #eaebeb;
    color: #eaebeb;
    margin-right: 10px;
    margin-bottom: 10px;
}
.create-patterns {
    float: left;
    padding: 10px;
    width: 30%;
    height: 70%;
    background: #eaebeb;
    color: #eaebeb;
    margin-right: 10px;
}
.create-button {
    float: left;
    width: 90%;
    margin-left: 10px;
    text-align: center;
    background: #1e5b85;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin-top: 10px;
    color: #f1f1f1;
}
.create-button:hover {
    cursor: pointer;
    background: #07385c;
}
.input-def {
    background: #f1f1f1;
    color: #313234;
    padding: 8px;
    font-size: 18px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}

.config-name {
}
.config-start {
    font-size: 28px;
    color: #3C7FB6;
}
.config-start:hover {
    cursor: pointer;
}
.config-stop {
    cursor: pointer;
}
.start-icon {
    font-size: 35px;
    color: #1e5b85;
}
.start-icon:hover {
    cursor: pointer;
}
.move-top {
    height: 0px;
}
.config-textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: #f1f1f1;
    font-size: 18px;
    padding: 5px;
    overflow: auto;
    white-space: nowrap;
}
.config-list-entry-box {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
.config-list-entry-box:hover {
    cursor: pointer;

}
.config-list-entry-name {
    float: left;
    width: 80%;
    background: #eaebeb;
    height: 100%;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px 5px 5px 10px;
    margin-right: 5px;
}
.config-list-entry-add {
    float: left;
    width: 5%;
    background: #eaebeb;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;

}

.config-list-entry-add:hover{
    background: #07385c;
    color: #f1f1f1;
}

.config-list-entry-update {
    float: left;
    width: 5%;
    background: #eaebeb;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;

}

.config-list-entry-update:hover{
    background: #07385c;
    color: #f1f1f1;
}
.config-list-entry-delete {
    float: left;
    width: 5%;
    background: #eaebeb;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;

}

.config-list-entry-delete:hover{
    background: #07385c;
    color: #f1f1f1;
}
.entry-small {
    font-size: 12px;
}

.page-list-entry-box {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}
.page-list-entry-box:hover {
    cursor: pointer;

}
.page-list-entry-url {
    float: left;
    width: 85%;
    background: #eaebeb;
    height: 100%;
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin-right: 5px;
}
.page-list-entry-index {
    float: left;
    width: 3%;
    background: #eaebeb;
    height: 100%;
    margin-right: 5px;

}

.page-list-entry-index:hover{
    background: #07385c;
    color: #f1f1f1;
}
.page-list-entry-index {
    float: left;
    width: 3%;
    background: #eaebeb;
    height: 100%;
    margin-right: 5px;

}

.page-list-entry-index:hover{
    background: #07385c;
    color: #f1f1f1;
}
.page-list-entry-words {
    float: left;
    width: 6%;
    background: #eaebeb;
    height: 100%;
}

.page-list-entry-words:hover{
    background: #07385c;
    color: #f1f1f1;
}
.segment-list-entry-box {
    width: 100%;
    min-height: 40px;
    height: 40px;
    max-height: 80px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}
.segment-list-entry-box:hover {
    cursor: pointer;

}
.segment-list-entry-segment {
    float: left;
    width: 85%;
    background: #eaebeb;
    height: 100%;
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin-right: 5px;
}
.segment-list-entry-index {
    float: left;
    width: 3%;
    background: #eaebeb;
    height: 100%;
    margin-right: 5px;

}

.segment-list-entry-index:hover{
    background: #07385c;
    color: #f1f1f1;
}
.segment-list-entry-index {
    float: left;
    width: 3%;
    background: #eaebeb;
    height: 100%;
    margin-right: 5px;

}

.segment-list-entry-index:hover{
    background: #07385c;
    color: #f1f1f1;
}
.segment-list-entry-words {
    float: left;
    width: 6%;
    background: #eaebeb;
    height: 100%;
}

.segment-list-entry-words:hover{
    background: #07385c;
    color: #f1f1f1;
}
.image-entry {
    background: #eaebeb;
    display: inline-block;
    width: 19%;
    height: 12%;
    margin: 0px 0px 4px 5px;
    overflow: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image-entry:hover {
    cursor: pointer;
    background-color: rgba(60,127,182, 0.9);

}

.image-count-box {
    position: fixed;
    floaT: right;
    margin-top: 2px;
    margin-left: 2px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #313234;
    color: #f1f1f1;
}

.admin-create-box {
    padding: 10px;
    width: 92%;
    background: #eaebeb;
}
.machine-list-box {
    position: fixed;
    margin-left: -500px;
    width: 480px;
    height: 160px;
    background: #313234;
}
.machine-center{
    margin-left: 0px;
}
.machine-box {
    width: 25%;
    height: 55px;
    float: left;
    padding-left: 10px;
    margin: 0px 0px 0px 0px;
    line-height: 55px;
    color: #eaebeb;
    font-size: 32px;
    font-weight: 700;
    background: #07385c;
    position: absolute;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(10,10,10,0.4);
    -moz-box-shadow: 1px 1px 1px 1px rgba(10,10,10,0.4);
    box-shadow: 1px 1px 1px 1px rgba(10,10,10,0.4);
}
.machine-box:hover {
    cursor: pointer;
    background: #313234;
}
.machine-entry-button {
    border: none;
    background: none;
    text-align: center;
    color: #eaebeb;
    font-weight: 500;
    font-size: 20px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.machine-entry-button:hover {
    cursor:pointer;
}

.machine-icon {
    float: left;
    height: 45px;
    margin: 5px 20px 0 0;
}
.machine-icon-selected {
    width: 150px;
    background: #b1b1b1;
}

.alert {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #b1b1b1;
    text-align: center;
}

/* login */
/*login*/
.login-container {
    width: 100.00vw;
    height: 100.00vh;
    text-align: center;
}
.login-box{
    width: 400px;
    height: 200px;
    background: #CCC;
    margin: auto;
    margin-top: 250px;
    padding:45px;
}
.login-input {
    border: 0px;
    margin-bottom: 5px;
    height: 30px;
    padding: 3px;
    width: 200px;
}
.login-submit {
    color: #FFF;
    border: 0px;
    margin-bottom: 5px;
    height: 30px;
    padding: 3px;
    width: 200px;
}
.login-submit:hover {
    cursor: pointer;
    background: #3C7FB6;
}
.analysis-create-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #b1b1b1;
}
.analysis-create-details {
    float: left;
    padding: 10px;
    width: 23.5%;
    height: 150px;
    background: #eaebeb;
    color: #eaebeb;
    margin: 0 0 10px 10px;
}
.analysis-create-list {
    float: left;
    padding: 10px;
    width: 20%;
    height: 30%;
    background: #eaebeb;
    color: #eaebeb;
    margin: 0 0 10px 10px;
}

.analysis-create-button {
    float: left;
    width: 71%;
    margin-left: 15px;
    text-align: center;
    background: #1e5b85;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin-top: 10px;
    color: #f1f1f1;
}
.analysis-create-button:hover {
    cursor: pointer;
    background: #07385c;
}
.analysis-list-entry {
    float: left;
    height: 40px;
    padding: 0 0 0 10px;
    line-height: 40px;
    width: 80%;
    background: #eaebeb;
    color: #313234;
}
.analysis-list-entry:hover {
    display: block;
    cursor: pointer;
    background: #CCCCCC;
    color: #313234;
}
.analysis-list-delete {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 10%;
    background: #eaebeb;
    color: #313234;
    margin-left: 10px;
}
.analysis-list-delete:hover {
    cursor: pointer;
    background: #07385c;
    color: #eaebeb;
}