/*
backrgound #f1f1f1
off-white: #eaebeb
dark grey: #313234
dark blue: #07385c
*/
html {
    font-family: 'Roboto', serif;
}
* {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
    box-sizing: border-box;
    border-radius: 0px;
}
body {
    background-color: #F1F1F1;
    margin: 0;
    font-family: 'Roboto', serif;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
/*navigation*/
.nav-top-container{
    width: 200%;
    height: 50px;
    background: #222;
}
/* main content */
.bottom-container {
    width: 100%;
    height: 100%;
}
/* result bar */
.result-bar-container {
    display: inline-block;
    height: 100%;
    width: 25%;
    background: #313234;
    float:left;
}

.rb-config-box {
    width: 100%;
    height: 40px;
    background: #07385c;
    color: #F1F1F1;
    line-height: 40px;
    font-size: 24px;
    padding: 0 0 0 20px;
}
.rb-issue-box {
    width: 100%;
    height: 40px;
    background: #1e5b85;
    color: #F1F1F1;
    line-height: 40px;
    font-size: 20px;
    padding: 0 0 0 20px;
}

.rb-result-box {
    height: 500px;
    width: 100%;
    background: #eaebeb;
    padding: 0 30px 0 30px;
}
.rb-result-entry-box{
    height: 60px;
    line-height: 60px;
    width: 98%;
    border-bottom: 1px #313234 solid;
}
.rb-left-box {
    display: inline-block;
    width: 50%;

}
.rb-right-box {
    display: inline-block;
    width: 48%;
    text-align: right;
}

/* main area*/
.content-container {
    display: inline-block;
    width: 75%;
    height: 95%;
    background: #b1b1b1;

}

/* result area*/
.result-menu {
    height: 40px;
    width: 100%;
    background: #313234;
    text-align: center;
    margin: auto;
}
.result-menu-entry {
    display: inline-block;
    width: 100px;
    color: #b1b1b1;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    margin-right: 50px;
    border-bottom: 4px solid #313234;
}
.result-menu-entry:hover {
    color: #f1f1f1;
    cursor: pointer;
}
.selected {
    color: #f1f1f1;
    border-bottom: 4px solid #2ec866;
}

.content-box {
    padding: 5px 5px 5px 10px;
    overflow: auto;
    /*border: 1px solid #e1e1e1;*/
    /*border-left: none;*/
    height: 100%;
}
.result-main-box {
    width: 100%;
    height: 95%;
    background: #b1b1b1;
    padding: 5px 5px 5px 5px;
}
/*#a2e4f5*/
/*#009dd3*/
/*#f29c98*/
.sum-left{
    width: 40%;
    height: 100%;
    float: left;
}
.sum-right{
    width: 59%;
    height: 100%;
    float: left;
    padding-left: 10px;
}
.sum-config-box {
    background: #f1f1f1;
    display: inline-block;
    height: 13%;
    width: 100%;
    overflow: auto;
    margin: 0 10px 10px 0px;
    color: #313234;
}
.sum-inc-box {
    background: #f1f1f1;
    display: inline-block;
    height: 14%;
    width: 100%;
    overflow: auto;
    margin: 0 10px 10px 0px;
    color: #313234;
}
.sum-exc-box {
    background: #f1f1f1;
    display: inline-block;
    height: 14%;
    width: 100%;
    overflow: auto;
    margin: 0 10px 10px 0px;
    color: #313234;
}
.sum-seed-box {
    background: #f1f1f1;
    display: inline-block;
    min-height: 22%;
    height: 40%;
    width: 100%;
    overflow: auto;
    margin: 0 10px auto 0px;
    color: #313234;
}
.sum-icon-box{
    float:left;
    width: 20%;
    height: 100%;
    text-align: center;
    background: #eaebeb;
    color: #313234;
    padding-top: 12px;
}
.sum-icon {
    font-size: 60px;
}
.sum-seed {
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #f1f1f1;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.sum-exclude {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #dd8877;
    color: #f1f1f1;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.summary-exclude-box {
    display: inline-block;
    height: 22%;
    width: 30%;
    overflow: auto;
    margin: 0 0px 10px 0px;
    color: #313234;
    padding: 0px 5px 5px 5px;
}
.list-divider{
    width: 90%;
    height: 1px;
    float: left;
    background: #eaebeb;
    margin: 0 0 0 20px;
}
.kv-box {
    height: 30px;
    line-height: 30px;
    width: 70%;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
}
.list-box {
    min-height: 30px;
    line-height: 30px;
    width: 95%;
    background: #eaebeb;
    color: #313234;
    margin: 0 0 5px 20px;
    padding: 0 5px 0 5px;
    border: 1px  solid #b1b1b1;
}
.key-box {
    display: inline-block;
    width: 50%;
    float: left;

}
.value-box {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.list-key {
    width: 100%;
    float: left;
}

/*pages per minute*/
.sum-ppm-box {
    float: left;
    height: 28%;
    width: 40%;
    background: #f1f1f1;
}

/*running pages*/
.sum-running-box {
    float: left;
    height: 28%;
    width: 58%;
    background: #f1f1f1;
    margin-left: 10px;
}

/*pie directory*/
.sum-dir-box {
    width: 99%;
    height: 55%;
    float: left;
    background: #f1f1f1;
    margin-top: 10px;
}
/* creating config */
.create-config {
    background: #eaebeb;
    width: 100%;
    height: 100%;
    padding: 1% 10% 1% 10%;
}
.create-details {
    padding: 10px;
    width: 350px;
    height: 100px;
    background: #07385c;
    color: #eaebeb;
}

.input-def {
    background: #eaebeb;
    color: #313234;
    padding: 5px;
    font-size: 18px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}