
<div class="content-container">
    <div class="result-main-box">
        <div class="create-config">
            <div class="admin-create-box">
                <input type="text" class="input-def" placeholder="Machine Name" ng-model="newMachine.name"/>
                <input type="text" class="input-def" placeholder="Location" ng-model="newMachine.location" />
            </div>
            <div class="create-button" ng-click="createMachine()">
                Create
            </div>
        </div>
    </div>
</div>