
<div class="content-container">

    <div class="result-main-box">
        <div class="sum-left">
            <div class="sum-config-box">
                <div class="sum-icon-box">
                    <i class="material-icons sum-icon" style="color: #1e5b85">description</i><br/>
                    Config
                </div>
                <div class="content-box">

                    <div class="kv-box">
                        <div class="key-box">Domain</div>
                        <div class="value-box" ng-repeat="domain in currentConfig.domainList">{{ domain.domain }}</div>
                    </div>
                    <div class="kv-box">
                        <div class="key-box">Threads</div>
                        <div class="value-box">3</div>
                    </div>
                    <div class="kv-box">
                        <div class="key-box">Delay</div>
                        <div class="value-box">0</div>
                    </div>
                </div>
            </div>
            <div class="sum-inc-box">
                <div class="sum-icon-box">
                    <i class="material-icons sum-icon" style="color: #2ec866">thumb_up</i><br/>
                    Include
                </div>
                <div class="content-box">
                    <span ng-repeat="include in currentConfig.includeList">{{ include.includePattern }}<br/></span>
                </div>
            </div>
            <div class="sum-exc-box">
                <div class="sum-icon-box">
                    <i class="material-icons sum-icon" style="color: #dd8877">thumb_down</i><br/>
                    Exclude
                </div>
                <div class="content-box">
                    <span ng-repeat="exclude in currentConfig.excludeList">{{ exclude.excludePattern }}<br/></span>
                </div>
            </div>
            <div class="sum-seed-box">
                <div class="sum-icon-box">
                    <i class="material-icons sum-icon">playlist_play</i><br/>
                    Seed List
                </div>
                <div class="content-box">
                    <span ng-repeat="seed in currentConfig.seedList">{{ seed.seedUrl }}<br/></span>
                </div>
            </div>
        </div>
        <div class="sum-right">
            <div class="sum-ppm-box">

            </div>
            <div class="sum-running-box">
            <span ng-repeat="page in currentResult.currentPageList">{{ page.url }}<br/></span>
            </div>
            <div class="sum-dir-box">

            </div>
        </div>
    </div>

</div>
<div class="result-main-box">
    pages list-------------------------------
</div>
<!-- when no config is loaded-->
<div ng-show="!configLoaded">
    Please Select a config
</div>