
<div class="content-container" data-ng-init="init()">
    <div class="result-main-box">
        <div class="config-list-entry-box" ng-repeat="config in configList">
            <a href="#/scope/current"> <div class="config-list-entry-add" ng-click="loadConfig(config)">
               +
           </div></a>
            <div class="config-list-entry-name">
                {{ config.name }} <br />
                <span class="entry-small">{{ config.issueNum }}</span>
            </div>
            <div class="config-list-entry-update">
                <a href="#/scope/update/{{ config.id }}">update</a>
            </div>
            <div class="config-list-entry-delete" ng-click="deleteConfig($index, config.id)">
                delete
            </div>

        </div>
    </div>
</div>