

<div class="content-container">

    <div class="result-main-box">
        <div class="sum-right">
            <div class="sum-ppm-box">
                <canvas id="line" class="chart chart-line" chart-data="currentResult.ppmList"
                        chart-labels="currentResult.ppmEntries" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
            <div class="sum-running-box">
                <span ng-repeat="page in currentResult.currentPageList">{{ page.url }}<br/></span>
                <span ng-hide="currentResult.running" class="alert"><br/>NO PAGES ARE RUNNING</span>
            </div>
            <div ng-controller="donutCtrl">
            <div class="sum-dir-box" >
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="data" chart-labels="labels">
                </canvas>
            </div>
            <div class="sum-dir-right">
            </div>
            </div>
            <div class="sum-seg-box">
                <span ng-repeat="seg in currentResult.latestSegments">{{ seg }}<br/><br/></span>
            </div>
            <div class="sum-image-box">
                <div class="sum-image-entry" ng-repeat="img in currentResult.latestImageList"><img src="{{ img }}" class="sum-image" /></div>
            </div>
        </div>
    </div>

</div>
<div class="result-main-box">
    pages list-------------------------------
</div>
<!-- when no config is loaded-->
<div ng-show="!configLoaded">
    Please Select a config
</div>