<html>
<head>
    <title>SE STATION</title>
        <link rel="icon" href="resources/img/Select.png">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.js"></script>
    <script src="resources/js/Chart.min.js"></script>
    <script src="resources/js/angular-chart.min.js"></script>
    <!--<script src="resources/angular/Chart.min.js"></script>-->
    <!--<script src="resources/angular/angular-chart.min.js"></script>-->
    <script src="resources/app/ses-app.js"></script>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body data-ng-app="sesApp">
<div ng-controller="mainCtrl">
    <div class="nav-top-container">
        <div class="machine-list-box" ng-class="{'machine-center' : showMachineList}">

            <div class="machine-entry" ng-repeat="mach in machineList">
                <button class="machine-entry-button" ng-click="selectMachine(mach)"
                        ng-class="{ 'machine-icon-select' : current.machine.name == mach.name}"><img
                        src="resources/img/{{mach.name}}.png" class="machine-icon"/><br/>{{ mach.name }}
                </button>
            </div>
        </div>
        <div class="machine-box" ng-click="showMachineList = !showMachineList">
            <img src="resources/img/{{ current.machine.name}}.png" class="machine-icon" />
            {{ current.machine.name }}
        </div>
        <div class="nav-top-entry-container">
            <a href="#/scope/create/" class="nav-top-entry"><i class="material-icons nav-top-icon">note_add</i></a>
            <a href="#/analysis/list/" class="nav-top-entry"><i class="material-icons nav-top-icon">list</i></a>
            <div class="nav-top-search">
                <input type="text" class="nav-top-input" placeholder=""/>
                <a href="#/scope/list" class="nav-top-entry" style="width: 20px;">
                    <i class="material-icons nav-top-icon">search</i>
                </a>
            </div>
            <a href="#/admin" class="nav-top-entry"><i class="material-icons nav-top-icon">developer_board</i></a>
        </div>
    </div>
    <div class="bottom-container">
        <div class="result-bar-container" ng-show="configLoaded" data-ng-init="init()">



            <div class="rb-config-box">
                <div class="rb-start-box">
                    <div class="config-start" ng-show="currentResult.running" ng-click="stop()">
                        <img src="resources/img/balls.svg" style="float: right; margin-right: 5px"/>
                    </div>
                    <div class="config-start" ng-hide="currentResult.running" ng-click="start()">
                        <i class="material-icons start-icon">play_arrow</i>
                    </div>
                </div>
                <div class="config-name">{{ current.config.name }}<br/><span class="rb-issue-box"># {{ current.config.issueNum }}</span></div>

            </div>

            <div class="rb-result-box" ng-class="{'no-height': !displayResults}">
                <div class="rb-result-entry-box">
                    <div class="rb-left-box">Total Words</div>
                    <div class="rb-right-box"> {{ currentResult.uniqueWordCount }}</div>
                </div>
                <div class="rb-result-entry-box">
                    <div class="rb-left-box">Unique Words</div>
                    <div class="rb-right-box"> {{ currentResult.uniqueWordCount }}</div>
                </div>
                <div class="rb-result-entry-box">
                    <div class="rb-left-box">Unique Meta</div>
                    <div class="rb-right-box"> {{ currentResult.uniqueMetaCount }}</div>
                </div>
                <div class="rb-result-entry-box">
                    <div class="rb-left-box">Total Pages</div>
                    <div class="rb-right-box"> {{ currentResult.pageCount }}</div>
                </div>
                <div class="rb-result-entry-box">
                    <div class="rb-left-box">Total Images</div>
                    <div class="rb-right-box"> {{ currentResult.totalImageCount }}</div>
                </div>
            </div>
            <button class="result-config-button" ng-click="displayResults = !displayResults">^ ^</button>

            <div class="result-config" ng-class="{'no-height': displayResults}">
                <div class="sum-left">
                    <div class="sum-config-box">
                        <div class="sum-icon-box">
                            <i class="material-icons sum-icon" style="color: #1e5b85">description</i><br/>
                            Config
                        </div>
                        <div class="content-box">

                            <div class="kv-box">
                                <div class="key-box">Domain</div>
                                <div class="value-box" ng-repeat="domain in current.config.domainList">{{ domain.domain
                                    }}
                                </div>
                            </div>
                            <div class="kv-box">
                                <div class="key-box">Threads</div>
                                <div class="value-box">3</div>
                            </div>
                            <div class="kv-box">
                                <div class="key-box">Delay</div>
                                <div class="value-box">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="sum-inc-box">
                        <div class="sum-icon-box">
                            <i class="material-icons sum-icon" style="color: #2ec866">thumb_up</i><br/>
                            Include
                        </div>
                        <div class="content-box">
                            <span ng-repeat="include in current.config.includeList">{{ include.includePattern }}<br/></span>
                        </div>
                    </div>
                    <div class="sum-exc-box">
                        <div class="sum-icon-box">
                            <i class="material-icons sum-icon" style="color: #dd8877">thumb_down</i><br/>
                            Exclude
                        </div>
                        <div class="content-box">
                            <span ng-repeat="exclude in current.config.excludeList">{{ exclude.excludePattern }}<br/></span>
                        </div>
                    </div>
                    <div class="sum-seed-box">
                        <div class="sum-icon-box">
                            <i class="material-icons sum-icon">playlist_play</i><br/>
                            Seed List
                        </div>
                        <div class="content-box">
                            <span ng-repeat="seed in current.config.seedList">{{ seed.seedUrl }}<br/></span>
                        </div>
                    </div>
                </div>

            </div>

            <a href="/#/analysis/create" class="result-bottom-box">
                Create Analysis
            </a>
        </div>
        <div class="result-menu">
            <div class="result-menu-entry" ng-class="{selected : menu.option == 1}">
                <a href="#/scope/current">Summary</a>
            </div>
            <div class="result-menu-entry" ng-class="{selected : menu.option == 2}">
                <a href="#/scope/page/list">Pages</a>
            </div>
            <div class="result-menu-entry" ng-class="{selected : menu.option == 3}">
                <a href="#/scope/segment/list">Segments</a>
            </div>
            <div class="result-menu-entry" ng-class="{selected : menu.option == 4}">
                <a href="#/scope/image/list">Images</a>
            </div>
            <div class="result-menu-entry" ng-class="{selected : menu.option == 5}">
                <a href="#/scope/dir/list">Directory</a>
            </div>

            <div class="result-menu-entry">
                Files
            </div>
        </div>
        <div ng-view>

        </div>
    </div>
</div>
</div>
</body>
</html>